* {
  margin:0;
}


body {
    background-image: url('/Image/fond_music.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
  }
   

h1 {
    text-align: center;
    color: #fce7b1;
    font-size: 7vh;
}

h2 {
  text-align : center;
  color: #fce7b1;
  font-size: 7vh;
}

form {
  text-align:center;
  
}

main {
  background-color: rgba(82, 167, 209, 0.3);


}

html {
  font-family: civane-normal, sans-serif;;

}

div {
  color: #fce7b1;
  position: absolute;
  bottom : 0px;

}

.mail {
  opacity: 0.5;
  
}

p{
  font-size: 4vh;
}


.button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}







